DATABASE_URL=postgresql://usuario:senha@host.neon.tech/db?sslmode=require
PORT=3000
NODE_ENV=development
NOTABE_URL=https://asin.notabe.com/notes/new
PLAYWRIGHT_HEADLESS=true
PLAYWRIGHT_BROWSERS_PATH=0

